body {
    font-family: 'Arial', sans-serif;
    color: #FEFFFF;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    position: relative;
    background-color:#194D4B;
}

body a{
    color:#48e288;
}

header{
    font-size: 20px;
    text-align: center;
    padding:50px;
}

nav ul li{
    padding: 5px;
}

ul { 
    list-style-type: none; 
}

nav ul li a {
    text-transform:uppercase;
    font-weight: bold;
    color: #DEF2F1;
    padding: 10px;
    transition: 0.3s;
}

header h1 a{
    color:#48e288;
}

nav{
   font-size: large; 
}


h2{
    text-align: center;
    text-transform: uppercase;
    background-color: #417a78;
    position: sticky;
    top:0;
}

.summary p {
    background-color: rgb(6, 48, 49);
    padding-bottom:5px;
    margin-bottom: 20px;
}

.summary .athlete{
    color:#48e288
}

html{
    margin:15px;
}

*{
    box-sizing: border-box;
}

table{
    width:100%;
    background-color: rgb(6, 48, 49);
    padding-bottom:5px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #051414;
}

tr:first-child{
    text-transform: uppercase;
}

tbody{
    font-size: 20px;
}

#individual-results .athlete{
    background-color:rgb(6, 48, 49);
    padding:5px;
    margin:5px;
    border:solid 2px #051414;
    text-align: center;
    font-size:20px;
}

.athlete dt{
    color:#48e288;
}

.athlete img{
    width: 100%;
    padding:10px;
}

figure:hover{
    border:solid white 1px;
}

.athlete figcaption{
    font-size: 25px;
    font-weight: bold;
}

.athlete dl{
    font-size: 25px;
}

footer{
    color:#48e288;
    text-align:center;
}

footer a {
    color:#DEF2F1
}

